# Logs
*.zip
*.log
*.gz
*.tar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.log
logs.log
.gz
backend/*.log
backend/*.tmp
backend/*.gz
/oracle
/backend/src/main/resources/application.properties

*/*.properties

### Cloud
/wallet
/log
/state
/tls
/backend/orabot-compose*
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### logs ###
logs*

### VS Code ###
.vscode/

